.container-fluid{
  margin-top: 5%;
}

.jumbotron.custom{
  background-color: rgba(48, 53, 58, 0.671) !important;
}

.navbar {
  margin-bottom: 1rem;
}

.row.start{
  justify-content: center;
  margin-bottom: 1rem;            
}

.row > .btn{
  min-width: 20%;
}
